[Unit]
Description=PostgreSQL database log file monitor
Documentation=https://github.com/LloydAlbin/pg_monitor/tree/master/pg_readlog
After=network.target

[Service]
Type=simple

User=postgres
Group=postgres

ExecStart=/pgdata_local/pg_readlog.sh (ClusterName) (ReportsServer) (ReportsDatabase) (ReportsPort) (LocalLogDirectory) (LocalTempDirectory) (PostgresBinDirectory)

[Install]
WantedBy=multi-user.target
