[Unit]
Description=PostgreSQL database log file monitor
Documentation=https://github.com/LloydAlbin/pg_monitor/tree/master/pg_readlog
After=network.target

[Service]
Type=simple
User=postgres
Group=postgres
hostname=$(hostname -s)

#ExecStart=/pgdata_local/pg_readlog.sh \
#     (ClusterName) (TimescaleDBServer) (ReportsDatabase) (ReportsPort) \
#     (LocalLogDirectory) (LocalTempDirectory) (PostgresBinDirectory) \
#     (TempCSVLogfile) (LoopSeconds)

ExecStart=/pgdata_local/pg_readlog.sh \
     $hostname (TimescaleDBServer)  pgmonitor_db 30002 \
     /pgdata_local/pg_log /pgdata_local /usr/local/postgres-current/bin \
     logtail.csv 5

[Install]
WantedBy=multi-user.target
